---
title: Frame - messaging and communications for tech companies
---

<div class="welcome">
  <div class="logo">
    <%= image_tag "frame-glasses.png" %>
  </div>
  <h1 class="logo-name">frame<span class="full-stop">.</span></h1>
  <p class="lede home-page-description">
  	We find the right words to frame your story.
  </p>

 <p>
 	Frame's messaging experts work with technology companies to help them find the right words to accurately and effectively communicate. We do this through senior consultancy, messaging, positioning and copywriting.
 </p>
 <p>Want to know more?</p>
 <a href="mailto:emily@frame.co.uk" class="button home-button">Get in touch</a>
 <div class="experience">
 	<ul>
 		<li><%= image_tag "nvidia.png" %></li>
 		<li><%= image_tag "epson.png" %></li>
 		<li><%= image_tag "pnmsoft.png" %></li>
 		<li><%= image_tag "sparkl.png" %></li>
 		
 		<li><%= image_tag "ef.png" %></li>
 		<li><%= image_tag "cisco.png" %></li>
 	</ul>
 </div>
</div><!-- .welcome -->
